version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres-avito
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: avito
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    restart: unless-stopped
    command: >
      postgres
      -c ssl=off
      -c ssl_mode=disable